<div class="flex justify-center pt-5 pb-5 h-full bg-orange-100">
    <div class="flex-col w-1/2 p-8 border-2 bg-slate-50 overflow-auto">
        <form [formGroup]="searchForm">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Search Ingredients</mat-label>
        
                <input placeholder="Search Ingredient..." #searchInput formControlName="searchInput"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addIngredient($event)"/>
                
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let option of filteredIngredientOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
        
                <mat-chip-grid #chipGrid aria-label="Ingredient selection">
                    <mat-chip-row *ngFor="let ingredient of ingredients; let i = index" (removed)="removeIngredient(i)">
                        {{ingredient}}
                        <button matChipRemove [attr.aria-label]="'remove ' + ingredient">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
            </mat-form-field>

            <mat-slide-toggle formControlName="dataMode" class="mb-4">Toggle Data View</mat-slide-toggle>            

            <code *ngIf="searchForm.controls.dataMode.value">
                <pre class="border-2 bg-slate-50 rounded-md p-5">{{cocktails | json}}</pre>
            </code>

            <ng-container *ngIf="!searchForm.controls.dataMode.value">
                <div class="flex flex-wrap gap-8 justify-center">
                    <app-cocktail-card
                        *ngFor="let cocktail of cocktails"
                        [cocktail]="cocktail"
                        (clickEvent)="openDescriptionCocktail(cocktail)">
                    </app-cocktail-card>
                </div>
            </ng-container>
        </form>
    </div>    
</div>